html,
body {
  font-family: "Sora", sans-serif;
  color: black;
  background-color: white;
  min-height: 100vh;
}

.navbar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.25rem;
}

#card-basic-view,
#expand-card {
  background-color: #dce3ec;
}

#card-complete-view {
  background-color: #bef6b2;
}

.main-page-background {
  color: #2c7399;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.complete-button {
  background-color: #449a3b;
}

#expand-button {
  background-color: #596ea8;
}

#add-task-button {
  background-color: #2c7399;
}

.page-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  margin-top: 390px;
}

.navbarHeader,
.page-footer {
  background-color: #596ea8;
}

.expand-top {
  background-color: #c2d3ea;
  border-radius: 1rem;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

/*=============== IMAGE SPECS ===============*/
img {
  width: 3rem;
  height: 3rem;
}

/*=============== CONTENT ===============*/
header {
  position: fixed;
  background-color: #57598d;
  padding: 5rem;
  text-align: center;
}

footer p {
  text-align: left;
  font-size: 0.5rem;
}

.profile {
  text-align: center;
  background-color: beige;
  padding: 2em;
}

.profile > img {
  border-radius: 200px;
  width: 15em;
  height: 15em;
}

section.non_list_content {
  background-color: #57598d;
  color: white;
  text-align: center;
  padding: 1em;
}

.new-habit-button {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #888;
  color: white;
}

.header {
  background-color: #57598d;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.habits-page-back-link {
  height: 3rem;
  width: 3rem;
}

input {
  margin: 0;
  border: 2px solid black;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

p.alert-warning {
  margin: 2px;
  padding: 2px;
}

.flexbox.container {
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #171952;
  border-radius: 5px;
  width: 97%;
  text-align: left;
  height: 3rem;
}

.flexbox.container:hover {
  color: #171952;
  background-color: #f9da4d;
}

.flexbox.container p {
  margin: 0.5rem;
}

.habits-page-back-div {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 912px) {
  /* Make back button change color. */
  .habits-page-back-div:hover {
    background-color: #171952;
  }

  /* Make icon invert colors. */
  img.habits-page-back-link:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .flex-row {
    flex: 60%;
    flex-direction: column;
  }
}

@media (max-width: 912px) {
  .mt-4 {
    text-align: center;
  }
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  background-color: white;
}

.card-body {
  width: auto;
}s

.col-sm-auto.col-xl-12, #card-basic-view {
  width:90%;
}

.col-sm, .d-flex.col-md-6.col-xl-3 {
  width:100%;
}

div#card-basic-view.card.mb-4 {
  height:90%;
}

.col-sm, .col-sm-auto.col-xl-12, #card-basic-view {
  margin: auto;
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #8e24aa;
  font-size: 19px;
}

.buttons button:nth-child(1) {
  border: 1px solid #8e24aa !important;
  color: #8e24aa;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #8e24aa !important;
  color: #fff;
  height: 40px;
  background-color: #8e24aa;
}

.buttons button:nth-child(2) {
  border: 1px solid #8e24aa !important;
  background-color: #8e24aa;
  color: #fff;
  height: 40px;
}

.rounded_circle {
  width: "500";
  height: "600";
}